@media (max-with: 600px) {
    section{
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
*{
    box-sizing: border-box;
    
}

body{
    border-left:solid black 1px;
    border-right:solid black 1px;
}
header{
    background-color:rgb(65, 105, 169) !important;
}
#contenedor_menu{
    padding-left: 600px; ;
}
#menu{
    /*margin-left: 600px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    padding: 0;
    overflow: hidden;
}

#seccion{
    float:left;
}
#seccion a{
    display: block;
    color: white;
    text-align: center;
    padding:24px;
    text-decoration: none;
}
#seccion a:hover{
    background-color: #617adb66;
}

#foto_perfil{
  width: 200px;
  margin-left: 150px;
  margin-top: 15px;
  padding: 0;
  float: left;
  border-radius: 150px;
}
#bienvenida{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

#sobreMi{
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
#texto1{
    float: left;
}
#texto2{
    float: right;
}
#textos_grande{
    margin: 10%;
}
#encabezado{
    text-align: center;
}
#admirando{
    width: 400px;
    height: 400px;
}
table,th,td{
    border:1px solid black;
    padding:10px;
}
#datos{
    height:60px
}
#gato{
    border: 1px solid black;
    border-collapse: collapse;
}
#circulo{
    background-color: #96D4D4;
    text-align: center;
}
#marcador,#numeros{
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    height: 20%;
    text-align:center;
    padding-top:10px;
    padding-bottom:15px;
    padding-left: 50px;
    padding-right:50px;
    border-spacing: 10px;
}
#titulos{
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: greenyellow;
}
#nombres{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 55px;
    height: 55px;
    text-align: center;
}
#alumnos:nth-child(even){
    background-color:#D6EEEE;
}
#div1{
    width: 120px;
    height: 120px;
    padding:10px;
    border:1px solid #aaaaaa
}
img{
  border-radius:20px
}
footer{
    background-color:greenyellow;
    text-align:center;
    color:gray;
}
