@media screen and (max-width:600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
body{
    background:rgb(206, 135, 28);
}
#scroll{

}
/**Inicio del Menu*/
nav{
    border-left: 10px solid black;
    border-right: 10px solid black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#6666;
    border-radius: 10px;
    list-style: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#seccion,a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: left;
}
#seccion, a:hover{
    background-color:#6666;
}
/**Fin del menu*/
/**Inicia Contenido*/
section{
    border: 3px solid green;
}
#foto_perfil{
    border-radius: 100%;
    padding: 15px;
}
#descripcion{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#6666;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    font-size:20px;
    color: white;
    left: 250px;
    right:350px;
    top: 175px;
}
#foto1, #foto2, #foto3, #foto4, #foto5{
    padding-top: 15px;
    height: 430px;
    padding: 5px;
    width:250px;
    left: 50px;
}
article{
    border: 3px solid yellow;
}
#columnas::after{
    content: "";
    clear: both;
    display: table;
}
#col1,#col2,#col3{
    float: left;
    width:33.33%;
    padding: 50px;
    opacity: 80%;
}
#col1{
    background-color: #bbb;
}
#col2{
    background-color: #ccc;
}
#col3{
    background-color:#ddd;
}
aside{
    border: 3px solid gray;
}

footer{
    border: 3px solid orange;
}