@media screen and (max-width:600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom ,rgba(13, 123, 226, 0.274), rgb(0, 94, 172));
}
header{
    padding: 90px;
    background-image: url(/img/Logo_sin_fondo.png);
    background-repeat: no-repeat;
    background-position: center;
}
h2{
    font-size: 50px;
}
/**Inicio del Menu*/
nav{
}
ul{
    overflow: hidden;
}
#seccion,a{
    float: left;
    font-size:20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    padding-left: 38px;
}
#seccion, a:hover{
    background-color:rgba(13, 123, 226, 0.4);
}
/**Fin del menu*/
/**Inicia Contenido*/
    /* Inicio Presentacion */
#foto_perfil{
    border-radius: 100%;
    padding: 15px;
    box-shadow: 0 6px 8px 0 #ffffff, 0 6px 20px 0 rgb(235, 233, 232);
    transition: width 800ms linear;
}
#descripcion{
    text-align: center;
    border-radius: 15px;
    font-size:40px;
    color: white;
}
/*Fin de Presentacion*/
article{
}
#columnas::after{
    content: "";
    clear: both;
    display: table;
}
#col1,#col2,#col3{
    font-family:Arial, Helvetica, sans-serif;
    border-left: 1px solid gray;
    color: white;
    float: left;
    padding: 50px;
    opacity: 80%;
    height:auto;
}
#col1{
    width:25%;
}
#acercade{
    width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 4s;
}
#acercade:hover{
    width: 300px;
    height: 300px;
}
#acercade,#habilidades{
    background-color: rgba(128, 128, 128, 0.473);
}
#col2{
    background-color: transparent;
    width:75%;
}
#titulo{
    font-size:30px;
    text-align: center;
    text-decoration-line: underline;
}
#proyecto1,#proyecto2,#proyecto3,#proyecto4,#proyecto5,#proyecto6,#proyecto7{
    
    width:60%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
#consultorio{
    width:100%;
}
#resumen{
    text-align:center;
    padding: 10px 20px;
    color:black;
}
#foto1, #foto2, #foto3, #foto4, #foto5{
    padding-top: 15px;
    height: 430px;
    padding: 5px;
    width:250px;
    left: 50px;
}
aside{
    border: 3px solid gray;
}

footer{
    border: 3px solid orange;
}