@media screen and (max-width:600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

*{
    box-sizing: border-box;
}
body{
    background:rgb(206, 135, 28);
}
header{
    padding: 20px;
    text-align: center
}
h2{
    font-size: 50px;
}
/**Inicio del Menu*/
nav{
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-radius: 10px;
    background-color:#6666;
}
ul{
    overflow: hidden;
}
#seccion,a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#seccion, a:hover{
    background-color:#6666;
}
/**Fin del menu*/
/**Inicia Contenido*/
    /* Inicio Presentacion */
section{
    background-color:gray;
    border: 3px solid green;
}
#foto_perfil{
    border-radius: 100%;
    padding: 15px;
}
#descripcion{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:#6666;
    border-radius: 15px;
    font-size:20px;
    color: white;
}
    /*Fin de Presentacion*/
article{
    border: 3px solid yellow;
}
#columnas::after{
    content: "";
    clear: both;
    display: table;
}
#col1,#col2,#col3{
    float: left;
    padding: 50px;
    opacity: 80%;
}
#col1{
    background-color: #bbb;
    width:25%;
}
#col2{
    background-color: #ccc;
    width:50%;
}
#col3{
    width: 25%;
    background-color:#ddd;
}
#foto1, #foto2, #foto3, #foto4, #foto5{
    padding-top: 15px;
    height: 430px;
    padding: 5px;
    width:250px;
    left: 50px;
}
aside{
    border: 3px solid gray;
}

footer{
    border: 3px solid orange;
}